* {
  overscroll-behavior: none !important;
  /* 隐藏滚动条 */
  scrollbar-width: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  padding: 2px;
}

.hover-app {
  border-radius: 4px;
  transition: all 0.3s;
}

.hover-app:hover {
  flex-grow: 1;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drag-app {
  cursor: move !important;
}

.pointer {
  cursor: pointer;
}
